---
const testimonials = [
  {
    text: "I was fortunate enough to work alongside Zoë during ideation for a non-profit. Zoë is an exceptional developer who combines deep technical expertise with a genuine, user-centric mindset. She collaborates naturally with colleagues across disciplines and contributes to a strong team dynamic. What sets Zoë apart is her ability to think beyond the obvious by regularly proposing thoughtful, creative solutions that balance technical requirements with real user needs.",
    author: "Ben Brautigam",
    position: "Founder and Head of Product",
    company: "Eyrus, TEDx Speaker",
    textColor: "#A2E22B",
  },
  {
    text: "I can say with complete certainty that her effort to go beyond was unrivalled. Instead of us debugging issues during our weekly meetings, she asked thought-provoking questions around why something was done the way it was, and discussed how code could be improved. Zoe's passion for quality code, curiosity, and understanding has only scratched the surface and will excel her as a software engineer.",
    author: "Cory Trimm",
    position: "Principal Engineering Manager",
    company: "Nava",
    textColor: "#D1F452",
  },
  {
    text: "As a team member, Zoë consistently asks smart questions, pays attention to detail, and scopes + executes work effectively to meet deadlines. Across multiple launches we worked on together, Zoë brought a calm, intentional approach that made collaboration easy. Zoë is someone who communicates clearly and executes with care.",
    author: "Daniel Simpson",
    position: "Manager, Product Marketing",
    company: "Fleetio",
    textColor: "#D1F452",
  },
  {
    text: "Zoe's technical skills and attention to detail have had a significant impact on our website's performance and user experience. Her work on optimizing our content and integrating with Sanity and Storybook has empowered our content creators to efficiently manage and publish high-quality content, ultimately benefiting our users.",
    author: "Ross Gebhart",
    position: "Director, Brand Marketing",
    company: "Fleetio",
    textColor: "#E1F88D",
  },
  {
    text: "She consistently designs scalable, maintainable solutions while keeping both business goals and UX front and center. I’d recommend her to any team looking for a strong architectural leader.",
    author: "Megan Aiken",
    position:
      "Senior Conversion Rate Optimization Specialist, Growth Strategist",
    company: "Fleetio",
    textColor: "#E1F88D",
  },
  {
    text: "I truly valued working with Zoe. Her approach to problem-solving elevated the quality of our projects, handling complex challenges with creativity and precision. Zoe was reliable, efficient, and an excellent collaborator. Her communication and teamwork made the process smooth and productive, and her contributions were key to our success.",
    author: "Lindsey Drennan",
    position: "Senior Brand Designer",
    company: "Fleetio",
    textColor: "#F1FBC1",
  },
];

interface Props {
  section?: "first" | "middle" | "last";
}

const { section = "all" } = Astro.props;

const displayTestimonials =
  section === "first"
    ? testimonials.slice(0, 2)
    : section === "middle"
      ? testimonials.slice(2, 4)
      : section === "last"
        ? testimonials.slice(4)
        : testimonials;
const gridCols = section === "all" ? "md:grid-cols-4" : "md:grid-cols-2";
---

<section class="border-eagle/20 border-x max-w-7xl mx-auto">
  <div
    class={`text-white text-sm gap-3 gap-y-12 grid grid-cols-1 ${gridCols} mx-auto py-8 px-4 sm:grid-cols-2`}
  >
    {
      displayTestimonials.map((testimonial, idx) => (
        <div
          data-aos-delay={idx * 300}
          data-aos="fade"
          class="flex flex-col justify-between h-full px-4"
        >
          <p style={`color: ${testimonial.textColor};`}>
            {'"'}
            {testimonial.text}
            {'"'}
          </p>
          <div class="mt-3">
            <span class="block font-semibold mt-3">{testimonial.author}</span>
            <span class="block text-eagle">{testimonial.position}</span>
            <span class="block text-eagle mt-1 text-xs">
              {testimonial.company}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</section>
