---
const slides = [
{
    imgSrc: '/public/work/1.png',
    altText: 'Fleetio Homepage',
    technologies: ['Express.js', 'Node.js', 'Next.js', 'React.js', 'Tailwind CSS', 'Storybook', 'Contentful', 'Figma'],
    role: 'Senior Frontend Developer',
    url: 'https://www.fleetio.com',
    company: 'Fleetio',
    title: 'Fleetio',
    description: 'Led the migration of Fleetio’s website from Ruby on Rails to React, Next.js, and Tailwind CSS, focusing on building a robust system of reusable components using Storybook. Traveled to React conferences to stay ahead of emerging technologies, incorporating new practices that enhanced the project’s performance, accessibility, and SEO. This hands-on approach ensured the website consistently exceeded industry standards.',

  },
  {
    imgSrc: '/public/work/2.png',
    altText: 'Fleetio Pricing',
    technologies: ['Express.js', 'Node.js', 'Next.js', 'React.js', 'Tailwind CSS', 'A/B Testing'],
    role: 'Senior Frontend Developer',
    url: 'https://www.fleetio.com/pricing',
    company: 'Fleetio',
    title: 'Fleetio Pricing',
    description: 'Spearheaded the overhaul of Fleetio’s pricing page, implementing a dynamic and flexible structure using Next.js, React, and Tailwind CSS. Collaborated with analysts to conduct A/B testing, refining the user journey based on data-driven insights. Focused on optimizing performance, accessibility, and delivering a seamless user experience.',
  },
  {
    imgSrc: '/public/work/3.png',
    altText: 'Fleetio Blog',
    technologies: ['Express.js', 'Node.js', 'Next.js', 'React.js', 'Tailwind CSS', 'Storybook', 'Contentful'],
    role: 'Senior Frontend Developer',
    url: 'https://www.fleetio.com/blog',
    company: 'Fleetio',
    title: 'Fleetio Blog',
    description: 'Developed the Fleetio blog with a focus on SEO by implementing pagination instead of infinite scroll, ensuring better indexing and performance. Integrated Contentful to allow non-developer teams to create and manage content effortlessly, reducing the development workload and enabling more time to focus on optimization in other areas. This approach streamlined cross-team collaboration and improved the overall efficiency of the content pipeline.',
  },
  {
    imgSrc: '/public/work/4.png',
    altText: 'SKF Project',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.skf.com/us',
    company: 'SKF',
    title: 'SKF',
    description: 'Transformed the creation process for SKF, reducing development time from 1-2 weeks to two hours by building a branded, reusable component library using JavaScript, JQuery, SASS, and Bootstrap. This initiative significantly accelerated project timelines, enabling rapid deployment of consistent, high-quality pages while maintaining the brand’s visual identity.',
  },
  {
    imgSrc: '/public/work/5.png',
    altText: 'Ecore Project',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.ecoreintl.com/',
    company: 'Ecore',
    title: 'Ecore',
    description: 'Played a key role in the rebranding and optimization of Ecore’s website by developing a reusable, branded component library with JavaScript, JQuery, SASS, and Bootstrap. The redesign not only enhanced the visual appeal and usability of the site but also drove a significant increase in traffic. This approach allowed for quicker page creation while ensuring a consistent and unified brand experience.',
  },
  {
    imgSrc: '/public/work/6.png',
    altText: 'Godfrey Project',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.godfrey.com/',
    company: 'Godfrey',
    title: 'Godfrey',
    description: 'Managed the maintenance and updates for Godfrey’s website, using JavaScript, JQuery, SASS, and Bootstrap to ensure compatibility with modern web standards. Focused on upgrading existing components and optimizing site performance, while gradually transitioning the platform to more current technologies to enhance overall functionality and user experience.',
  },
  {
    imgSrc: '/public/work/11.png',
    altText: 'Axis Lighting Products',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.axislighting.com/product-landing/all-products',
    company: 'Axis Lighting',
    title: 'Axis Lighting Products',
    description: 'Collaborated with designers and developers using Scrum methodology to deliver a full rebrand and redevelopment of Axis Lighting’s international website. Developed the site in modular components, supporting multiple languages and complex features such as product calculators. This project involved a significant lift, ensuring seamless integration across various regions and enhancing the user experience for a global audience.',
  },
  {
    imgSrc: '/public/work/12.png',
    altText: 'Axis Lighting Inspiration',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.axislighting.com/inspiration-gallery',
    company: 'Axis Lighting',
    title: 'Axis Lighting Inspiration',
    description: 'Developed Axis Lighting’s Inspiration page, showcasing a curated gallery of projects to inspire potential clients. Built using JavaScript, JQuery, SASS, and Bootstrap, the page was designed for easy navigation and optimal performance. The goal was to create an engaging visual experience that highlights Axis Lighting’s product range, allowing users to explore various design possibilities seamlessly.',
  },
  {
    imgSrc: '/public/work/7.png',
    altText: 'JLG Project',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    role: 'Frontend Developer',
    url: 'https://www.jlg.com/en',
    company: 'JLG',
    title: 'JLG',
    description: 'Managed ongoing site maintenance for JLG, while focusing on transitioning the website to a more engaging user experience. Utilized JavaScript, JQuery, SASS, and Bootstrap to implement updates that improved the site’s functionality and responsiveness, ensuring a more dynamic and user-friendly interface.',
  },
  {
    imgSrc: '/public/work/8.png',
    altText: 'Solenis Project',
    role: 'Frontend Developer',
    url: 'https://www.solenis.com/en/',
    technologies: ['JavaScript', 'JQuery', 'HTML', 'SASS', 'Bootstrap'],
    company: 'Solenis',
    title: 'Solenis',
    description: 'Handled the continuous maintenance of the Solenis website while enhancing its overall user experience. Leveraged JavaScript, JQuery, SASS, and Bootstrap to implement updates that made the site more interactive and responsive, focusing on creating a more intuitive and engaging interface for users.',
  },
  {
    imgSrc: '/public/work/9.png',
    altText: 'Keystone Design System',
    technologies: ['Node.js', 'JavaScript', 'JQuery', 'HTML', 'LESS', 'Foundation', 'JAWS', 'NVDA', 'Lighthouse'],
    role: 'Frontend Developer',
    url: 'https://wcmauthorguide.pa.gov/en/keystone-design-system.html',
    company: 'Tyler Technologies',
    title: 'Keystone Design System',
    description: 'Developed the Keystone Design System to ensure compliance with Pennsylvania’s government standards, using technologies like Node.js, JavaScript, JQuery, and LESS. The system was designed with full accessibility in mind, adhering to WCAG AAA standards. The reusable component library enabled developers to build cohesive, accessible interfaces with minimal technical support, empowering teams to maintain a unified brand across the state’s digital platforms.',
  },
  {
    imgSrc: '/public/work/10.png',
    altText: 'PA529',
    technologies: ['Node.js', 'JavaScript', 'JQuery', 'HTML', 'LESS', 'Foundation'],
    role: 'Frontend Developer',
    url: 'https://www.pa529.com/',
    company: 'Pennsylvania Treasury',
    title: 'PA529',
    description: 'Collaborated with a design agency to direct the full brand refresh and development of the PA529 website, using technologies like Node.js, JavaScript, JQuery, and LESS. Oversaw the implementation of the new design, ensuring it aligned with government standards while delivering a modern and user-friendly interface. This project provided the Pennsylvania Treasury with a cohesive digital presence, improving the experience for users navigating educational savings plans.',
  },
];
---

<section class="border-b border-eagle/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-x border-eagle/20 px-8 py-12 gradient-grid">
    <div class="mx-auto">
      <h3 class="text-3xl font-display text-white uppercase">
        Proven track record developing high-performance web apps and strategic initiatives
      </h3>
    </div>
  </div>
</section>
<section class="border-b border-eagle/20 bg-accent-500">
  <div
    class="mx-auto max-w-7xl border-eagle/20 border-x"
    x-data="{ init() {
            new Splide(this.$refs.splide, {
                type: 'loop',
                drag: true,
                perPage: 3,
                gap: '0rem',
                breakpoints: {
                    620: {
                        perPage: 1,
                    },
                    992: {
                        perPage: 2,
                    },
                },
            }).mount()
        },
    }">
    <section
      class="splide"
      aria-label="Project carousel"
      x-ref="splide"
      id="splide01"
      aria-roledescription="carousel">
      <div class="splide__track">
        <ul class="splide__list">
          {slides.map((slide) => (
            <li class="splide__slide relative group">
              <img src={slide.imgSrc} alt={slide.altText} class="w-full h-auto" />
              <div class="absolute inset-0 bg-black bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-start justify-start text-white p-4">
                <span class="py-2 px-5 text-white">
                  <h3 class="font-display text-lg pb-2 uppercase">{slide.title}</h3>
                  <div class="z-10 sm:col-span-6">
                    <h3 class="font-medium leading-snug text-slate-200">
                      <div>
                        <a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-[#C2F019] focus-visible:text-lime" href={slide.url} target="_blank" rel="noreferrer noopener" aria-label="Senior Frontend Engineer, Accessibility at Klaviyo (opens in a new tab)">
                        <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                        <span>{slide.role} ·<!-- --> <span class="inline-block">{slide.company}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg></span></span></a></div></h3><p class="mt-2 text-sm leading-normal">{slide.description}</p>
                        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                          {slide.technologies.map((tech) => (
                            <li class="mr-1.5 mt-2">
                              <div class="flex items-center rounded-full bg-lime/10 px-3 py-1 text-xs font-medium leading-5 text-[#C2F019]">
                                {tech}
                              </div>
                            </li>
                          ))}
                          </ul></div>
                </span>
              </div>
            </li>
          ))}
        </ul>
      </div>
      <div class="splide__arrows splide__arrows--ltr items-center">
        <button
          class="splide__arrow splide__arrow--prev left-0 bg-transparent"
          type="button"
          aria-label="Previous slide"
          aria-controls="splide01-track"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
            ><path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path></svg
          ></button
        >
        <button
          class="splide__arrow splide__arrow--next right-0 bg-transparent"
          type="button"
          disabled=""
          aria-label="Next slide"
          aria-controls="splide01-track"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
            ><path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path></svg
          ></button
        >
      </div>
    </section>
  </div>
</section>